<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/webproject.css">
     <style>

        #main { height: auto; min-height: auto }
        /*회원가입 폼 배치하기 */
        form { width:350px; margin: 150px auto}
        /*회원가입 폼 요소에 여백주기*/
        form div{margin-top: 10px}
        form label {display: inline-block; width:120px; text-align:center; font-weight: bold}

    </style>
</head>
<body>
    <div id="wrap">
         <header>
            <h1>Python 웹프로젝트 v01</h1>
            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="join.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                    <li><a href="board.html">게시판</a></li>
                    <li><a href="myinfo.html">회원정보</a></li>
                </ul>
            </nav>
            <hr>

        </header>
        <div id="main"></div>
            <h2>회원가입</h2>
            <form name="joinfrm" method="post" action="login.do">
                <div><label for="userid">아이디</label><input type="text" name="userid" id="userid"></div>
                <div><label for="passwd">비밀번호</label><input type="password" name="passwd" id="passwd"></div>

                <div><label></label><button type="button">로그인</button></div>
            </form>



        <footer>
            <hr>
            <span>copyright &copy; 2014.2017.siestageek. All Rights Reserved.</span>

        </footer>
    </div>
</body>
</html>