<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/webproject.css">

     <style>
        #main {height: auto; min-height: auto}
        /*로그인한 회원의 정보 테이블 배치*/
        table{/*border:1px solid red;*/ margin:120px auto}

        th,td {padding:10px}
        th{text-align: right}

    </style>
</head>
<body>
<div id="wrap">
   <header>
        <h1>Python 웹프로젝트 v01</h1>
        <nav>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="join.html">회원가입</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="myinfo.html">회원정보</a></li>
            </ul>
        </nav>
        <hr>

        </header>
    <div id="main"></div>
        <h2>회원정보</h2>
        <table>
            <tr><th>아이디</th><td>abc123</td></tr>
            <tr><th>이름</th><td>으하하하</td></tr>
            <tr><th>이메일</th><td>abc123@naver.com</td></tr>
            <tr><th>가입일</th><td>2002-05-27 12:17:36</td></tr>




        </table>


        <footer>
        <hr>
        <span>copyright &copy; 2014.2017.siestageek. All Rights Reserved.</span>

        </footer>
</div>
</body>
</html>