{% extends 'layout/base.html' %}

{% block title %}myinfo{% endblock %}


{% block style %}
        #main {height: auto; min-height: auto}
        /*로그인한 회원의 정보 테이블 배치*/
        table{/*border:1px solid red;*/ margin:120px auto}

        th,td {padding:10px}
        th{text-align: right}

{% endblock %}


{% block content %}
        <h2>회원정보</h2>
        <table>
            <tr><th>아이디</th><td>abc123</td></tr>
            <tr><th>이름</th><td>으하하하</td></tr>
            <tr><th>이메일</th><td>abc123@naver.com</td></tr>
            <tr><th>가입일</th><td>2002-05-27 12:17:36</td></tr>
        </table>
{% endblock %}

{% block jscript %}{% endblock %}






