 /*메인영역 크기지정*/
 #body {height: auto; min-height: 500px}


        /*링크관련 스타일시트*/
a {font-weight: bold}
a:link {text-decoration: none; color:black;}
a:visited {text-decoration: none; color:black;}
a:hover {text-decoration: underline; color:orange;}
a:active {text-decoration: underline; color:orange;}

#wrap { /*border: 1px solid red; */ width:1250px; margin:0 auto}

header h1{margin-bottom: 45px}

ul{list-style: none;padding:0}
ul li{display: inline-block; margin-left:150px}

footer span {/*border: 1px solid red */; display: block; text-align: center}
hr {color: black;height: 1px;}
