{% extends 'layout/base.html' %}

{% block title %}list/write{% endblock %}

{% block style %}
        #main {height: auto; min-height: 500px}

        hr {color: black;height: 3px}
        form {border: 1px solid white; width: 60%; margin:65px auto 10px}
        form div {margin-top: 10px}
        form label {display: inline-block; width: 120px; text-align: right;
                    font-weight:bold; margin-right: 15px;}

        .dragup {vertical-align: top; margin-top: 5px}
{% endblock %}


    {% block content %}
        <div id="main">
        <h2>게시판 새글쓰기</h2>
            <form name="boardfrm" method="post">
                <div><label for="title">제목</label>
                <input type="text" name="title" id="title"></div>
                <div><label for="title">작성자</label>
                    <span>abc123</span></div>

                <div><label for="contents" class="dragup">본문</label>
                    <textarea name="" id="contents" cols="50" rows="10" style="resize:none">

                    </textarea></div>

                <div><label></label>
                    <button type="submit">입력완료</button>
                    <button type="reset">다시입력</button>
                </div>


            </form>



        </div>
   {% endblock %}
   {% block jscript %} {% endblock %}