<header>
            <h1>Python 웹프로젝트 v01</h1>
            <nav>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="member/join.html">회원가입</a></li>
                    <li><a href="member/login.html">로그인</a></li>
                    <li><a href="board/list.html">게시판</a></li>
                    <li><a href="member/myinfo.html">회원정보</a></li>
                </ul>
            </nav>


            <nav>
                <ul id="qmenu">
                    <li><a href="">contact</a></li>
                    <li><a href="">store locator</a></li>
                    <li><a href="">support</a></li>
                    <li><a href="">CART</a></li>
                </ul>
            </nav>


        </ul>
        <div><a href="#">Log in</a> or <a href="#">Create Account</a></div>

        </header>