



<header>
            <h1>Python 웹프로젝트 v01</h1>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/join">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/list">게시판</a></li>
                    <li><a href="/myinfo">회원정보</a></li>
                </ul>
            </nav>


            <nav>
                <ul id="qmenu">
                    <li><a href="">contact</a></li>
                    <li><a href="">store locator</a></li>
                    <li><a href="">support</a></li>
                    <li><a href="">CART</a></li>
                </ul>
            </nav>


        </ul>
        <div><a href="/login">Log in</a> or <a href="/join">Create Account</a></div>

        </header>